* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  width: auto;
  height: 64px;
  background: linear-gradient(to left bottom, #C8B6FF, #B6FFED);
  align-items: center;
}

#option {
  padding: 9px 25px;
  background-color: #FFB6C8;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#option:hover {
  background-color: #FFC7D5;
}

#colorOpt {
  padding: 9px 25px;
  background-color: #FFB6C8;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#colorOpt:hover {
  background-color: white;
}

#currColor {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  display: inline-block;
  border: 1.5px solid black;
  background-color: transparent; /* Set this to blank so that we can change it according to certain colors chosen*/
}

#canvas-container {
  flex-grow: 1;
}
/* Sorry, I'm not sure what we should do for the canvas space as of this moment */
